#body {
  background-color: #222222;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

#navbar {
  background-color: #161616;
  border-radius: 10px;
  height: 70px;
  margin: 65px 65px 0px;
}

#navbar #logo {
  color: #a0cf2b;
  margin-right: 210px;
  margin-left: 80px;
}

#navbar #navbarNavAltMarkup .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 22px;
  margin-right: 15px;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
}

#navbar #navbarNavAltMarkup .navbar-nav .nav-link:hover {
  color: #a0cf2b;
  background-color: #222;
  border-radius: 30px;
}

#banner {
  height: auto;
  border-bottom: 1px solid #a0cf2b;
}

#banner .figure {
  position: relative;
  height: auto;
  margin-bottom: 0 !important;
}
#banner .figure img {
  margin-bottom: 0 !important;
  margin: 0 !important;
}

#banner .banner-text {
  color: #76787c;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-70%, -50%);
  font-family: "Poppins", sans-serif;
}

#banner .banner-text h1 {
  font-weight: 1000;
  color: #a0cf2b;
  font-size: 60px;
  margin: 20px 0;
}

#banner .banner-text h4:last-of-type {
  margin-bottom: 20px;
}

#categories {
  padding: 50px 0px;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid #a0cf2b;
}

#categories .container {
  padding: 0 !important;
  margin: 0% 14%;
}

#categories h3 {
  color: #a0cf2b;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#categories #category-underline {
  display: flex;
  flex-direction: row;
}

#categories span {
  height: 1px;
  width: 160px;
  color: #a0cf2b;
  background-color: #a0cf2b;
  display: inline;
  margin-top: 10px;
}

#categories p {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 300;
  display: inline;
  color: #76787c;
}
#categories #category-items {
  width: 100%;
  display: flex;
}

#categories #category-items .row{
  margin: 0 !important;
}

#categories #category-items img {
  padding: 10px;
  height: 90px;
  width: 90px;
}
#categories #category-items .col-md-1 {
  margin: 10px;
  text-align: center;
}

#categories #category-items p {
  font-size: 15px;
  font-weight: 300;
}

#skills {
  padding: 50px 0px;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid #a0cf2b;
}

#skills .container {
  padding: 0px;
  margin-left: 12%;
}

#skills h3 {
  color: #a0cf2b;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#skills #skills-underline {
  display: flex;
  flex-direction: row;
}

#skills span {
  height: 1px;
  width: 230px;
  color: #a0cf2b;
  background-color: #a0cf2b;
  display: inline;
  margin-top: 10px;
}

#skills p {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 300;
  display: inline;
  color: #76787c;
}

#skills #skills-items {
  width: 100%;
  display: flex;
}
#skills #skills-items div {
  width: 11%;
  text-align: center;
}
#skills #skills-items img {
  padding: 10px;
  height: 90px;
  width: 90px;
}
#skills #skills-items .col-md-1 {
  margin: 10px;
  text-align: center;
}

#skills #category-items p {
  font-size: 15px;
  font-weight: 300;
}

#footer {
  padding: 50px 0px;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #161616;
  width: 100%;
}
#footer .container {
  margin-left: 13%;
  margin-right: 15%;
}

#footer #footer-left .figure .figure-caption h3 {
  color: #fff;
  font-weight: 600;
}

#footer #footer-left .figure .figure-caption span {
  height: 1px;
  width: 250px;
  color: #a0cf2b;
  background-color: #a0cf2b;
  display: inline;
  margin-top: 10px;
  display: block;
  margin-bottom: 20px;
}

#footer #footer-middle h3 {
  color: #a0cf2b;
  font-weight: 600;
  margin-bottom: 20px;
}
#footer #footer-middle {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
}

#footer #footer-middle .list {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#footer #footer-middle .list .list-item {
  text-decoration: none;
  margin: 10px 0px;
  cursor: pointer;
  color: #ffffff;
}

#footer #footer-middle h3 {
  color: #a0cf2b;
  font-weight: 600;
  margin-bottom: 20px;
}
#footer #footer-right {
  margin-left: auto;
  margin-right: 0;
  padding-right: 50px;
}

#footer #footer-right h3 {
  color: #a0cf2b;
  font-weight: 600;
  margin-bottom: 20px;
}

#footer #footer-right .list {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#footer #footer-right .list .list-item {
  text-decoration: none;
  margin: 10px 0px;
  cursor: pointer;
  color: #ffffff;
  margin-left: auto;
  margin-right: 50%;
}

#footer .list .list-item:hover{
  color: #a0cf2b !important;
}

@media only screen and (max-width: 920px) {
  #navbar #logo {
    margin-right: 100px !important;
    margin-left: 40px !important;
  }

  #navbar #navbarNavAltMarkup .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 20px !important;
    margin-right: 15px;
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
  }

  #banner .figure .figure-caption h1 {
    font-size: 26px;
    margin: 5px;
    padding: 0;
  }
  #banner .figure .figure-caption h4 {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
  #banner .banner-text h4:last-of-type {
    margin-bottom: 5px;
  }

  #banner .figure .figure-caption p {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  #skills #skills-items div {
    width: 15%;
    text-align: center;
  }

  #categories #category-items div {
    width: 20% !important;
    text-align: center;
  }

  #footer #footer-right .list .list-item {
    margin-left: 0;
    margin-right: 0;
  }

  #footer #footer-middle {
    padding-left: 10px !important;
  }

  #footer #footer-left p {
    width: 75%;
  }
}

@media only screen and (max-width: 720px) {
  #navbar #logo {
    margin-right: 100px !important;
    margin-left: 40px !important;
    height: 50px;
    width: 100px;
  }

  #navbar #navbarNavAltMarkup .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 15px !important;
    margin-right: 15px;
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
  }

  #banner .figure .figure-caption h1 {
    font-size: 22px;
    margin: 5px;
    padding: 0;
  }
  #banner .figure .figure-caption h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  #banner .banner-text h4:last-of-type {
    margin-bottom: 5px;
  }

  #banner .figure .figure-caption p {
    font-size: 10px;
    margin: 0;
    padding: 0;
  }

  #skills #skills-items div {
    width: 20%;
    text-align: center;
  }

  #footer #footer-right,
  #footer-left {
    padding-left: 10%;
  }

  #footer #footer-right .list .list-item {
    margin-left: 0;
    margin-right: 0;
  }

  #footer #footer-left p {
    width: 50%;
  }

  #footer #footer-middle {
    padding-left: 10px !important;
  }
}

@media only screen and (max-width: 520px) {
  #navbar {
    height: auto;
    display: flex;
    margin: 30px 30px 0px;
  }

  #navbar .navbar-toggler {
    margin-left: auto;
    margin-right: auto;
  }

  #navbar #logo {
    color: #a0cf2b;
    margin-right: auto;
    margin-left: auto;
  }

  #banner .figure .figure-caption h1 {
    font-size: 18px;
    margin: 5px;
    padding: 0;
  }
  #banner .figure .figure-caption h4 {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  #banner .figure .figure-caption p {
    font-size: 8px;
    margin: 0;
    padding: 0;
  }

  #skills #skills-items div {
    width: 20%;
    text-align: center;
  }

  #footer #footer-middle {
    padding-left: 10px !important;
  }

  #footer #footer-right, #footer #footer-left {
    padding-left: 10%;
  }

  #footer #footer-left p {
    width: 50%;
  }

  #footer #footer-right .list .list-item {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Home page css ends here */


/* Banner page css starts from here */

#project-banner {
  border-bottom: 1px solid #a0cf2b;
  margin-bottom: 0;
  position: absolute;
}
#project-banner .figure{
  margin-bottom: 0;
}
#project-banner .figure img {
  margin-bottom: 0;
}

#projects-category{
  margin-bottom: 500px;

}
#projects-category .row{
  margin: 0px 95px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-60%, 57%);
}

#projects-category .row .col-md-3{
  margin-bottom: 30px;
  text-align: center;
}

#projects-category .row .col-md-3 .figure img {
  height: 150px;
  width: 150px;
}

/* project page css ends here */


/* category page css starts from here */

#category-wise-project {
  margin: 60px 0px;
}

#category-wise-project h3 {
  color: #76787C;
  text-align: center;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 60px;
}

#category-wise-project .row .figure img{
  border-radius: 10px;
  height: 370px;
  width: 540px;
  margin-bottom: 0 !important;
}

#category-wise-project .row .col-md-6{
  margin-bottom: 12px;
}

#category-wise-project .row .figure{
  position: relative;
  clear: both;
  box-sizing: border-box;
}

#category-wise-project .row .figure .figure-caption #zoom-icon {
  height: 25px !important;
  width: 25px !important;
}

#category-wise-project .row .figure .figure-caption{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #76787C;
  font-weight: 600;
  font-size: 18px;
  display: none;
  overflow: hidden;
  clear: both;
  box-sizing: border-box;
  border-radius: 12px;
}

#category-wise-project .row .figure:hover .figure-caption{
  display: block;
  transition: all 3s ease;
  
}

#category-wise-project .row .figure .figure-caption #zoom-icon{
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

#category-wise-project .row .figure .figure-caption p{
  position: absolute;
  bottom: 0;
  left: 5%;
  color: #fff;
}

.wrap-modal-slider {
  padding: 0 30px;
  opacity: 0;
  transition: all 0.3s;
}

.wrap-modal-slider.open {
  opacity: 1;
}

.slick-prev:before, .slick-next:before {
  color: #161616;
}

#carousel-prev, #carousel-next{
  position: fixed !important;
  height: 30px !important;
  width: 30px !important;
  top: 50%;
  background-color: #161616;
  border-radius: 50%;
}

#carousel-prev{
  margin-left: 8%;
}
#carousel-next{
  margin-right: 8%;
}

#carousel-prev .carousel-control-prev-icon, #carousel-next .carousel-control-next-icon{
  /* position: fixed;
  background-color: #161616;
  padding: 10px; */
}

.modal-content{
  border: none !important;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-header{
  background-color: #000;
  color: #fff;
  margin-bottom: 20px !important;
  border: none !important;
  border-radius: 10px;
}

.modal-header .close{
  color: #fff;
}

#exampleModal .modal-body {
  padding: 0px 50px;
}


#modal-body .carousel-inner .carousel-item img{
  margin-bottom: 10px;
}